.person {
    width: fit-content;
    position: relative;
    padding: 10px 10px 16px;
    transition: all 1s 1s;

    &__photo {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: hidden;
        transition: border-radius 1s;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__rank {
        position: absolute;
        top: 110px;
        width: 32px;
        height: 32px;
        background-color: white;
        color: #8B0000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        right: 20px;
    }

    &__extra {
        visibility: hidden;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 20.7px;
        color: black;
    }

    &__name {
        margin: 8px 0;
        font-family: Arial;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0em;
        color: #2F4F4F;
        font-weight: 700;
    }

    &__sport {
        &:after {
            content: ', ';
        }
    }

    &__pay {
        &:before {
            content: '$';
        }
        &:after {
            content: 'M';
        }
    }

    &:hover {
        background-color: #eee;
        scale: 1.32;
        transform-origin: center;
        z-index: 1;
        border-radius: 12px;

        .person {
            &__extra {
                visibility: visible;
            }
            &__photo {
                border-radius: 60px;
            }
        }
    }
}
