.details {
  &__name {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #2F4F4F;
  }
  &__extra {
    visibility: hidden;
    font-size: 18px;
    line-height: 21px;
    margin-top: 9px;
  }
}