.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 1s;

  &__photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: all 1s;

    &_img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 50%;
      transition: all 1s;
    }
  }

  &__rank {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    height: 32px;
    width: 32px;
    border-radius: 50%;

    position: absolute;
    right: 10px;
    top: 84px; 

    font-size: 16px;
    color: rgba(139, 0, 0, 1);
    font-weight: 700;
    transition: all 1s;
  }

  &__details {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all 1s;
  }

  &__name {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: rgba(47, 79, 79, 1);
    transition: all 1s;
  }

  &__extra {
    padding-top: 9px;
    font-size: 18px;
    line-height: 20.7px;
    color: rgba(0, 0, 0, 1);
    visibility: hidden;
    transition: all 1s;
  }

  &:hover {
    background-color: rgba(238, 238, 238, 1);
    border-radius: 12px;
    transform: scale(1.32);
    transform-origin: center;
    z-index: 1;
    transition: all 1s;

    & .person__photo {
      transform: scale(0.91);
      border-radius: 60px;
    }
    & .person__photo_img {
      border-radius: 60px;

    }

    & .person__extra {
      visibility: visible;
    }
  }
}
// W pierwotnej wersji się rozsuwało bo nie było ustawione na sztywno( szerokośi wierszy)