@import '../styles/utils/variables';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

   
}

.people {
    display: grid;
    padding: 30px 35px;
    gap: 40px 30px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, $card-width);

    @media screen and (min-width: 500px) and (max-width: 999px) {
        grid-template-columns: repeat(2, $card-width);
    }

    @media screen and (min-width: 1000px) and (max-width: 1499px) {
        grid-template-columns: repeat(4, $card-width);
    }

    @media screen and (min-width: 1500px) {
        grid-template-columns: repeat(4, $card-width);
    }
}

.person {
    height: 231px;
    position: relative;
    font-family: 'Arial';

    &__photo {
        display: flex;
        height: 200px;
        width: 200px;
        align-self: center;
        position: absolute;
        border-radius: 200px;
        background-size: contain;
    }

    &__rank {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 158px;
        top: 84px;
        background: #FFFFFF;
        border-radius: 32px;
    }

    &__number {

    }

    &__details {
        display: flex;
        
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #8B0000;
        justify-content: center;
        align-self: center;
    }
}

